* {
  color: #ececec;
  font-family: Roboto, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.app {
  background-color: #212121;
  display: flex;
  display: flex;
  width: 100vw; /* Force full viewport width */
  height: 100vh; /* Force full viewport height */
}
